In [1]:
from fastai.imports import *

In [2]:
FILE = "C:/Playground/bhaiya-orders/9th July - Fruits & Vegetable Order Form(2020-07-07).xlsx"

In [3]:
df = pd.read_excel(FILE)

In [4]:
df.head()

,Submission Date,Order Number#,First Name,Last Name,Select Drop Point and Building,Any other building?,Select Wing,Flat No,Phone Number,Email,Select Delivery Date,Your Order: Products,No Label,Any Pending credit from previous orders?
0,2020-07-07 22:25:54,BHOR-0507,Payal,Sharma,Cosmic - Cosmic Heights,NaN,A Wing,1904,9930581815,payalmakhijani@gmail.com,Thursday 9th July,"Baby Corn 300 gms (Amount: 60.00 INR, Select n...",Accepted\n\n1. All issues and complaints regar...,NaN
1,2020-07-07 22:06:39,BHOR-0506,Priyanka,Pipada,Aeon/Zeon - Zeon,NaN,B Wing,2901,9819714534,vaibhavkanyalkar@gmail.com,Thursday 9th July,"Potato 1 Kg (Amount: 36.00 INR, Special Quanti...",Accepted\n\n1. All issues and complaints regar...,NaN
2,2020-07-07 20:56:14,BHOR-0505,Binita,Thakker,NCP - Tower 5,NaN,B Wing,202,9867490700,binitath@gmail.com,Thursday 9th July,"Potato 1 Kg (Amount: 72.00 INR, Special Quanti...",Accepted\n\n1. All issues and complaints regar...,NaN
3,2020-07-07 20:21:49,BHOR-0504,Ranjana,Shah,Aeon/Zeon - Zeon,NaN,B Wing,B 1603,9999733628,ranjana.shah2010@gmail.com,Thursday 9th July,"Onion Red 1 Kg (Amount: 60.00 INR, Special Qua...",Accepted\n\n1. All issues and complaints regar...,NaN
4,2020-07-07 20:21:03,BHOR-0503,Deepika,Mehta,NCP - Tower 6,NaN,B Wing,3302 b wing,9654138008,deepikamehta.16@gmail.com,Thursday 9th July,"Potato 1 Kg (Amount: 36.00 INR, Special Quanti...",Accepted\n\n1. All issues and complaints regar...,NaN

In [5]:
df.columns

Index(['Submission Date', 'Order Number#', 'First Name', 'Last Name',
       'Select Drop Point and Building', 'Any other building?', 'Select Wing',
       'Flat No', 'Phone Number', 'Email', 'Select Delivery Date',
       'Your Order: Products', 'No Label',
       'Any Pending credit from previous orders?'],
      dtype='object')

In [5]:
df["Name"] = df[df.columns[1]] + ' ' + df[df.columns[2]]

In [6]:
highlight_col = 'No Of Packets'

In [7]:
custs = df.Name.unique()

In [8]:
# with pd.ExcelWriter('output.xlsx') as writer:
#     for cust in custs:
#         df[df[df.columns[1]] == cust].to_excel(writer, sheet_name=cust)

In [9]:
def f(x):
    col = highlight_col
    r = 'background-color: none'
    g = 'background-color: yellow'
    c = np.where(x[col] > 1, g, r)
    y = pd.DataFrame('', index=x.index, columns=x.columns)
    y[col] = c
    return y

In [10]:
all_data = 0

with pd.ExcelWriter('formatted.xlsx') as writer:
    for cust in custs:
        c = cust.split()
        data = df[df.Name == cust]
        all_data += len(data.index)
        styled = data.drop(columns=["Name"]).style.apply(f, axis=None)
        styled.to_excel(writer, sheet_name=cust, engine='openpyxl')

In [11]:
assert all_data == len(df)