In [3]:
from fastai.imports import *

In [4]:
FILE = "Printout Data.xlsx"

In [5]:
df = pd.read_excel(FILE)

In [6]:
df

,Sr. No.,Customer Name,Building Name,Final Item Name,Final Marathi Name,Final Weight,No Of Packets,Unit/Grm,Drop Point
0,1,Rashmita Sundaram,Aeon A,Potato,बटाटा,1000,1,Grm,Aeon / Zeon
1,1,Rashmita Sundaram,Aeon A,Onion Red,कांदा लाल,1000,1,Grm,Aeon / Zeon
2,1,Rashmita Sundaram,Aeon A,Cauliflower,फुलकोबी,1,1,Unit,Aeon / Zeon
3,1,Rashmita Sundaram,Aeon A,Cabbage,कोबी,1,1,Unit,Aeon / Zeon
4,1,Rashmita Sundaram,Aeon A,Coconut,नारळ,1,1,Unit,Aeon / Zeon
...,...,...,...,...,...,...,...,...,...
1227,87,Ritu Shri,Elisium,Pineapple,अननस,1,1,Unit,NCP
1228,87,Ritu Shri,Elisium,Ginger,आले,250,1,Grm,NCP
1229,87,Ritu Shri,Elisium,Lemons,लिंबू,5,1,Unit,NCP
1230,87,Ritu Shri,Elisium,Coriander,कोथिंबीर,1,1,Unit,NCP
1231,87,Ritu Shri,Elisium,Basil Leaves,तुळशीची पाने,100,1,Grm,NCP

In [7]:
custs = df["Customer Name"].unique()

In [9]:
with pd.ExcelWriter('output.xlsx') as writer:
    for cust in custs:
        df[df["Customer Name"] == cust].to_excel(writer, sheet_name=cust)