# Printout Data | Item Count | Pipe Separated File

In [1]:
import pandas as pd
import re
from pathlib import Path
import os

In [2]:
OUTPUT_DIR = Path("C:/Playground/bhaiya-orders/outputs/")

In [3]:
from ipyfilechooser import FileChooser

In [4]:
fc = FileChooser("C:/Playground/bhaiya-orders/")
fc.use_dir_icons = True
display(fc)

FileChooser(path='C:/Playground/bhaiya-orders/', filename='', show_hidden='False')

In [5]:
FILE = Path(fc.selected)

In [6]:
try:
    if 'csv' in FILE.suffix: df = pd.read_csv(FILE)
    else: df = pd.read_excel(FILE)
except OSError:
    print("Error occured, invalid file!")

In [7]:
df.fillna('', inplace=True)

In [8]:
df.head(2)

,Submission Date,Order Number#,First Name,Last Name,Select Drop Point and Building,Any other building?,Select Wing,Flat No,Phone Number,Email,Select Delivery Date,Your Order: Products,No Label,Any Pending credit from previous orders?
0,2020-07-07 22:25:54,BHOR-0507,Payal,Sharma,Cosmic - Cosmic Heights,,A Wing,1904,9930581815,payalmakhijani@gmail.com,Thursday 9th July,"Baby Corn 300 gms (Amount: 60.00 INR, Select n...",Accepted\n\n1. All issues and complaints regar...,
1,2020-07-07 22:06:39,BHOR-0506,Priyanka,Pipada,Aeon/Zeon - Zeon,,B Wing,2901,9819714534,vaibhavkanyalkar@gmail.com,Thursday 9th July,"Potato 1 Kg (Amount: 36.00 INR, Special Quanti...",Accepted\n\n1. All issues and complaints regar...,

In [13]:
# df['Token'] = list(range(len(df)))

In [14]:
for col in df.columns:
    if "Your Order" in col:
        your_order = col
        
    if "token" in col.lower():
        token = col
        
    if "flat" in col.lower():
        flat = col
        
    if "order" in col.lower() and "num" in col.lower():
        order_number = col

In [15]:
df['name'] = df['First Name'] + ' ' + df['Last Name'] + '_' + df[token].astype(str)

In [16]:
df[your_order][0]

'Baby Corn 300 gms (Amount: 60.00 INR, Select no. of 300 gm packets required: 1)\nBroccoli  250 gms (Amount: 65.00 INR, Special Quantity: 1)\nRed & Yellow Bell Pepper 2 each in a pack (Amount: 110.00 INR, Special Quantity: 1)\nBasil Leaves  100 gms (Amount: 25.00 INR, Special Quantity: 1)\nSubtotal: \nTax: \n\nTotal: 260.00'

In [17]:
k = []
for order in df[your_order]:
    split = order.split(')') # last item is always total cost
    split = [s.replace('\n', '') for s in split] # remove newlines if present
    k.append(split)

In [18]:
save_pth = OUTPUT_DIR/FILE.stem
os.makedirs(save_pth, exist_ok=True)

## Non-Fruits (Item Count)

In [19]:
def get_qty(txt):
    
    """
        Returns the Special Quantity key for a given order. 
            Sample input string: '...no. of 500 gm packets required: 1)'
            Returns: 1
    """
    
    match = re.search(": ([0-9]+?)\)", txt)
    if match:
        return int(match.group(1))

In [20]:
val = {}
total = {}
for name, order in zip(df.name, k):
    val[name] = 0
    for i in order:
        sp1 = i.split("(")
        if len(sp1) < 2:
            total[name] = sp1[0].split()[-1] # total cost
            continue
        
        sp1[1] = sp1[1] + ')'
        val[name] += get_qty(sp1[1])

In [21]:
new_df = pd.DataFrame()

In [22]:
new_df['token_no'] = df[token]

In [23]:
new_df['order_no'] = df[order_number]

In [24]:
new_df['name'] = df['name'].apply(lambda x: x.split('_')[0])

In [25]:
new_df['flat_no'] = df[flat]

In [26]:
# # For Thane
# new_df['wing'] = df['Select Wing']

In [27]:
def func(x):
    if '-' in x:
        return x.split('-')[1]
    return x

new_df['building_name'] = df['Select Drop Point and Building'].apply(func)

In [28]:
new_df['building_name'] = new_df['building_name'] + ', ' + df['Select Wing']

In [29]:
new_df['phone_no'] = df['Phone Number']

In [30]:
new_df['email'] = df['Email']

In [31]:
# # # if Thane
# new_df['drop_point'] = df['Enter Building Name']

In [32]:
new_df['drop_point'] = df['Select Drop Point and Building'].apply(lambda x: x.split('-')[0])

In [33]:
new_df['item_count'] = df.name.apply(lambda x: val[x])

In [34]:
new_df['total_amt'] = df.name.apply(lambda x: total[x])

In [35]:
new_df.head()

,token_no,order_no,name,flat_no,building_name,phone_no,email,drop_point,item_count,total_amt
0,0,BHOR-0507,Payal Sharma,1904,"Cosmic Heights, A Wing",9930581815,payalmakhijani@gmail.com,Cosmic,4,260.00
1,1,BHOR-0506,Priyanka Pipada,2901,"Zeon, B Wing",9819714534,vaibhavkanyalkar@gmail.com,Aeon/Zeon,14,734.00
2,2,BHOR-0505,Binita Thakker,202,"Tower 5, B Wing",9867490700,binitath@gmail.com,NCP,21,698.00
3,3,BHOR-0504,Ranjana Shah,B 1603,"Zeon, B Wing",9999733628,ranjana.shah2010@gmail.com,Aeon/Zeon,20,636.00
4,4,BHOR-0503,Deepika Mehta,3302 b wing,"Tower 6, B Wing",9654138008,deepikamehta.16@gmail.com,NCP,15,620.00

In [36]:
fname = save_pth/('printout-' + str(FILE.stem) + '.csv')

In [37]:
new_df.to_csv(fname, index=False)

In [38]:
# new_df[new_df['name'] == 'Suparna Bhandari']

## Fruits (Pipe Separated Orders)

In [39]:
def get_item_name(order):
    '''
    Return the Item Name, Final Weight, Num Packets, Unit
    '''
    
    stopwords = ['per', 'gms', 'gm', 'kgs', 'kg', 'pack', 'each', '-']
    
    # parse the key, stop when you encounter a number, unit, keyword like 'per', 'pack'
    item = order.split('(')[0].strip()
    item = re.sub('[0-9]+', ' ', item)
    item = item.split()
#     print(item)
    final_item = ''
    for token in item:
        if token.lower() in stopwords:
            break
        final_item += ' ' + token
    
    return final_item.strip()


def get_qty(txt):
    
    """
        Returns the Special Quantity key for a given order. 
            Sample input string: '...no. of 500 gm packets required: 1)'
            Returns: 1
    """
    
    if txt[-1] != ')':  txt = txt + ')'
    
    match = re.search(": ([0-9]+?)\)", txt)

    # temporary fix for VNR Guava
    if "VNR Guava Per Kg (" in txt: match = re.search("\(([0-9]+?)", txt)
    
    if match:
        return int(match.group(1))
    
    
def extract_num(txt):
    
    """
        Searches a string and returns the last number found, if present. 
        Otherwise return 1.
        Use case: For an item key such as 'Tondli 300 gms ', return 300 (to calculate total qty required)
    """
    
    match = re.findall("([0-9]+)", txt)
    if match:
        return int(match[-1])
    else:
        return 1
    
    
    
def get_unit(txt):
    """
        Gets unit from an item string.
        Assumption: standard occurence of units all across the board. 
    """
    txt = txt.lower()
    if txt.find(' gm') != -1: unit = 'gms'
    elif (txt.find(' pc') != -1) or (txt.find(' pack') != -1): unit = 'pcs'
    elif txt.find(' bunch') != -1: unit = 'bunches'
    else: unit = 'kgs'
    return unit

In [40]:
def parse_order(order):
    '''
    Return the Item Name, Final Weight, Num Packets, Unit
    '''
    if len(order.split('(')) < 2: return None
    
    item_name = get_item_name(order)
    num_packets = get_qty(order)
    unit = get_unit(order)
    qty_per_pack = extract_num(order.split('(')[0])
    final_weight = qty_per_pack * num_packets

    return {"item_name": item_name,
            "num_packets": num_packets,
            "unit": unit,
            "final_weight": final_weight}

In [41]:
val = {}
total = {}
for name, order in zip(df.name, k):
    val[name] = ''
    for i in order:
        sp1 = i.split("(")
        if len(sp1) < 2:
            total[name] = sp1[0].split()[-1] # total cost
            continue
        
        sp1[1] = sp1[1] + ')'
        val[name] += get_item_name(sp1[0]) + ':' + str(get_qty(sp1[1])) + ' | '

In [42]:
new_df = pd.DataFrame()

In [43]:
new_df['token_no'] = df[token]
new_df['order_no'] = df[order_number]

new_df['name'] = df['name'].apply(lambda x: x.split('_')[0])

new_df['flat_no'] = df[flat]

def func(x):
    if '-' in x:
        return x.split('-')[1]
    return x

# # THANE
# new_df['drop_point'] = df['Enter Building Name']

new_df['building_name'] = df['Select Drop Point and Building'].apply(func)
new_df['building_name'] = new_df['building_name'] + ', ' + df['Select Wing']

new_df['phone_no'] = df['Phone Number']

new_df['email'] = df['Email']

# THANE, COMMENT OUT
new_df['drop_point'] = df['Select Drop Point and Building'].apply(lambda x: x.split('-')[0])

new_df['items'] = df.name.apply(lambda x: val[x][:-3])

new_df['total_amt'] = df.name.apply(lambda x: total[x])

In [44]:
new_df.head(2)

,token_no,order_no,name,flat_no,building_name,phone_no,email,drop_point,items,total_amt
0,0,BHOR-0507,Payal Sharma,1904,"Cosmic Heights, A Wing",9930581815,payalmakhijani@gmail.com,Cosmic,Baby Corn:1 | Broccoli:1 | Red & Yellow Bell P...,260.00
1,1,BHOR-0506,Priyanka Pipada,2901,"Zeon, B Wing",9819714534,vaibhavkanyalkar@gmail.com,Aeon/Zeon,Potato:1 | Onion Red:2 | Bitter Gourd:1 | Tond...,734.00

In [45]:
new_df.total_amt.apply(lambda x: x.replace(',', '')).astype(float).sum()

41447.0

In [46]:
fname = save_pth/('printout-' + str(FILE.stem) + '.csv')

In [47]:
new_df.to_csv(fname, index=False)

## Finished!